/* body > * { background-color: rgba(255,0,0,0.5);
} body > * > * { background-color: rgba(255,255,0,0.5);
} body > * > * > * { background-color: rgba(0,255,0,0.5);
} body > * > * > * { background-color: rgba(255,0,255,0.5); } */
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
  background-position: center;
}

a {
  text-decoration: none;
}
/*описание кнопки*/
/*.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #f0c52e;
} */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  width: 1160px;
  height: 299px;
  opacity: 0.5;
  background-color:#f0c52e;
}

.logo {
  width: 163px;
  height: 35px;
}



.logo:hover {
  background-image: url(img/logo-hover.svg);
  background-repeat: no-repeat;
}

.logo:active {
  background-image: url(img/logo-down.svg);
}

.search-form {
  display: flex;
  width: 440px;
  font-size: 15px;
  text-align: left;
  line-height: 2;
  color: black;
}

.search-form-input {
  border: 0;
  background-color: #f7e296;
  border-bottom: 2px solid #f7e296;
  opacity: 0.3;
  padding-left: 40px;
  flex-grow: 1;
}

.search-form-button {
  border: 2px solid black;
  background: 0;
  background-color: #f7e296;
  width: 85px;
  height: 50px;
  visibility: hidden;
  text-align: center;
}

.search-form-input:focus {
  opacity: 1;
  outline: 0;
  border-bottom: 2px solid black;
}

.search-form-input:focus + .search-form-button,
.search-form-button:active {
  visibility: visible;
}

.main-navigation-wrapper {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.search-item {
  opacity: 0.3;
}

.search-item:hover {
  opacity: 0.6;
}

.search-item:focus {
  color: #000000;
}

.user-navigation,
.user-comparison  {
  list-style: none;
}

.user-navigation a,
.user-comparison a {
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-comparison a:hover,
.user-comparison a:focus {
  opacity: 0.6;
}

.user-navigation a:active,
.user-comparison a:active {
  opacity: 0.3;
}

.site-navigation a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list,
.navigation-item {
  list-style: none;
}

.catalog-list a:hover
.catalog-list a:focus {
  opacity: 0.6;
}

.catalog-list a:active {
  opacity: 0.3;
}

.navigation-item a {
  display: none;
}

.catalog-list a:hover .navigation-item a {
  display: block;
}

.navigation-item a {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}

.navigation-item a:hover,
.navigation-item a:focus {
  opacity: 0.6;
}

.navigation-item a:active {
  opacity: 0.3;
}

.obligation {
  list-style: none;
}

.obligation a {
  color: #000000;
  text-transform: uppercase;
}

.obligation a:hover,
.obligation a:focus {
  opacity: 0.6;
}

.obligation a:active {
  opacity: 0.3;
}

.slider input {
  display: none;
}

.slider-switch-wrapper label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  border: 3px solid #000000;
  border-radius: 50%;
  margin-right: 20px;
  opacity: 0.3;
}

#slider-switch-1:checked ~ .slider-switch-wrapper label[for="slider-switch-1"]{
  opacity: 1;
}

#slider-switch-2:checked ~ .slider-switch-wrapper label[for="slider-switch-2"]{
  opacity: 1;
}

#slider-switch-3:checked ~ .slider-switch-wrapper label[for="slider-switch-3"]{
  opacity: 1;
}

strong {
  font-size: 47px;
}

p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.slide-number1,
.slide-number2,
.slide-number3 {
  font-size: 179px;
  line-height: 179px;
  color: red; /*#ffffff*/
}

.detailed {
  color: #000000;
  width: 220px;
  height: 8px;
  background-color: #f0c52e;
}

/*.detailed:hover {
color: #000000;
width: 220px;
height: 40px;
background-color: #f0c52e;
}

.detailed:active {
opacity: 0.3;
color: #000000;
width: 220px;
height: 40px;
background-color: #f0c52e;
} */

.selfie-stick {
  width: 479px;
  height: 46px;
}

.top-description {
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}

.bottom-description {
  width: 78px;
  height: 11px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 0.1px;
  text-align: left;
  color: #464646;
}

.bracelet {
  width: 439px;
  height: 46px;
}

.quadcopter {
  width: 449px;
  height: 46px;
}

.deviceys-list li {
list-style: none;
}

.deviceys-list a {
color: #000000;
}

/*.Layer-1 {
  width: 160px;
 height: 160px;
 opacity: 0.5;
 background-color:#f0c52e;
}*/

.popular-1 {
  background-color: #f0c52e;
}

.popular-2 {
  background-color: #f0c52e;
}

.popular-3 {
  background-color: #f0c52e;
}

.popular-4 {
  background-color: #f0c52e;
}

.popular-5 {
  background-color: #f0c52e;
}

.popular-6 {
  background-color: #f0c52e;
}
/*слайд доставка гарантия*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.services-slide-btn {
  display: none;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0px auto;
}

.services-slide-controls {
  position: relative;
  width: 284px;
  padding-top: 80px;
  padding-bottom: 46px;
  border-right: 7px solid #000000;
  opacity: 1;
}

.btn {
  margin-bottom: 24px;
  padding: 11px 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  max-width: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  background: 0;
  border: none;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: .3s linear;
}

.btn:hover::after,
.btn:focus::after {
  height: 100%;
}

.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1),
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2),
.services-slide-btn:nth-of-type(3):checked ~ .services-slide-controls .btn:nth-child(3){
  width: 100%;
  padding-right: 132px;
  color: #f7e184;
  opacity: 1;
}

.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1):after,
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2):after,
.services-slide-btn:nth-of-type(3):checked ~ .services-slide-controls .btn:nth-child(3):after {
  background-color: #000000;
  opacity: 1;
  height: 100%;
}

.brend-list li {
  list-style: none;
}

.profile h2,
.contact h2 {
  font-size: 47px;
  line-height: 48px;
  text-align: left;
}

.block-profile {
  width: 462px;
  height: 315px;
  text-align: left;
}

.block-profile p {
  font-family: OpenSans;
  font-size: 15px;
  line-height: 30px;
}

.contact p {
  width: 511px;
  height: 46px;
}

.name

/*.logo-html {
width: 27px;
height: 35px;
object-fit: contain;
background-color: #ffc600;
}*/

/*не забыть про карту в попапе*/
.map-big {
  display: none;
}

.type-name {
  font: inherit;

  background-color: transparent;
  border: transparent;
}

.name input {
  opacity: 0.4;
  font-family: OpenSans;
  font-size: 14px;

  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
}

.name input:hover {
background-color: #eaeaea;
}

.name input:focus,
.name input:active {
  width: 360px;
  height: 50px;
  opacity: 0.5;
  background-color: #ffffff;
  border: 2px solid #f0c52e;
}

.name input:focus,
.name input:active {
  color: #464646;
  opacity: 1;
}

/*.name input:invalid {
  background-color: #f6dada;
}

.name input:invalid {
  color: #464646;
  opacity: 0.4;
}*/


.logo-html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo-html {
  fill: #FFC600;
}

.logo-html:hover{
  fill:green;
}
