/* body > * { background-color: rgba(255,0,0,0.5);
} body > * > * { background-color: rgba(255,255,0,0.5);
} body > * > * > * { background-color: rgba(0,255,0,0.5);
} body > * > * > * { background-color: rgba(255,0,255,0.5); } */
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  background-color: #ffffff;
  background-position: center;
}

a {
  text-decoration: none;
}
/*описание кнопки*/
/*.button {
font: inherit;

text-align: center;
color: #ffffff;
vertical-align: middle;
text-transform: uppercase;

background-color: #000000;
border: none;
}

.button:hover,
.button:focus,
.button:active {
background-color: #f0c52e;
} */

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/

/*.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */

.main-header {
  width: 1160px;
  height: 299px;
  opacity: 0.5;
  background-color:#f0c52e;
}

/*логотип Девайс */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
svg:not(:hover) {
fill: #000000;
}

svg:hover,
svg:focus {
  fill: #000000;
  opacity: 0.6;
}

svg:active {
  fill: #000000;
  opacity: 0.3;
}

.search-form {
  display: flex;
  width: 440px;
  font-size: 15px;
  text-align: left;
  line-height: 2;
  color: black;
}

.search-form-input {
  border: 0;
  background-color: #f7e296;
  border-bottom: 2px solid #f7e296;
  opacity: 0.3;
  padding-left: 40px;
  flex-grow: 1;
}

.search-form-button {
  border: 2px solid black;
  background: 0;
  background-color: #f7e296;
  width: 85px;
  height: 50px;
  visibility: hidden;
  text-align: center;
}

.search-form-input:focus {
  opacity: 1;
  outline: 0;
  border-bottom: 2px solid black;
}

.search-form-input:focus + .search-form-button,
.search-form-button:active {
  visibility: visible;
}

.main-navigation-wrapper {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.search-item {
  opacity: 0.3;
}

.search-item:hover {
  opacity: 0.6;
}

.search-item:focus {
  color: #000000;
}

.user-navigation,
.user-comparison  {
  list-style: none;
}

.user-navigation a,
.user-comparison a {
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-comparison a:hover,
.user-comparison a:focus {
  opacity: 0.6;
}

.user-navigation a:active,
.user-comparison a:active {
  opacity: 0.3;
}

.site-navigation a {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.navigation-item {
  list-style: none;
}

.catalog-list a:hover,
.catalog-list a:focus {
  opacity: 0.6;
}

.catalog-list a:active {
  opacity: 0.3;
}

/*.navigation-item a {
  display: none;
}*/

/*выпадающий список*/
/*.product-catalog {
  width: 180px;
  background-color: #f0c52e;
  color: #000000;
  padding: 10px;
}

.product-catalog ul {
  min-width: 150px;
  position: absolute;
  color: #000000;
  padding: 0;

  display: none;
}

.navigation-list li {
  list-style-type: none;
  padding: 0px;
}

.product-catalog > li:hover > ul {
  display: block;
}*/

.site-navigation li {
  list-style: none;
}

.site-navigation {
  display: block;
  position: absolute;
  top: 118px;
}

.site-navigation li {
  display: inline-block;
  height: 20px;
  position: relative;
}

.site-navigation > li > ul {
  display: none;
}

.site-navigation > li:hover > ul {
  display: block;
}

.navigation-item a {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}

.navigation-item a:hover,
.navigation-item a:focus {
  opacity: 0.6;
}

.navigation-item a:active {
  opacity: 0.3;
}

.obligation {
  list-style: none;
}

.obligation a {
  color: #000000;
  text-transform: uppercase;
}

.obligation a:hover,
.obligation a:focus {
  opacity: 0.6;
}

.obligation a:active {
  opacity: 0.3;
}
/*хлебные крошки каталог*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  color: #000000;
}

.catalog-hover a:hover,
.catalog-hover a:focus {
  opacity: 0.6;
}

.catalog-hover a:active {
  opacity: 0.1;
}
/*фильтр каталог*/
.filters li {
  list-style: none;
}

.filters-list {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 18px;
  line-height: 24px;
}

.filters ul {
  font-style: none;
  line-height: 40px;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.86;
  letter-spacing: 0.1px;
  text-align: left;
}
/*добавить состояние чекбоксов*/
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

/*сортировка каталог*/
.sort-list {
  list-style: none;
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000000;
}

.sort-link,
.sort-link {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #000000;
  opacity: 0.3;
}

.sort-link:focus,
.sort-link:hover {
opacity: 0.6;
}

.sort-link:active {
opacity: 1.0;
}

.sort-link-active {
opacity: 1.0;
}
/*описание карточек товаров в каталоге*/
.catalog-list img:hover,
.catalog-list img:focus {
  filter: opacity(0.7);
  background-color: #eeeeee;
}

.to-compare {
  opacity: 0.5;
}

.to-compare:hover,
.to-compare:focus {
  opacity: 1.0;
}

.to-compare:active {
  opacity: 0.2;
}

.catalog-list a {
  list-style: none;
}

.to-cart {
  font-family: "Gilroy-ExtraBold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  vertical-align: baseline;
  text-align: left;
  color: #000000;
}

.to-cart {
  background-clip: border-box;
  background-color: #f0c52e;
  max-width: 200px;
  height: 8px;
  margin-left: 20px;
  padding-left: 37px;
  padding-right: 39px;
}

.to-cart:hover,
.to-cart:focus {
  background-color: #f0c52e;
  width: 200px;
  height: 40px;
}

.to-cart:active {
  opacity: 0.3;
  background-color: #f0c52e;
  width: 200px;
  height: 40px;
}

.catalog-list a {
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}

.catalog-list span {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: right;
  color: #464646;
}

/*слайдер селфи палка браслет квадрокоптер*/
.slider input {
  display: none;
}

.slider-switch-wrapper label {
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  border: 3px solid #000000;
  border-radius: 50%;
  margin-right: 20px;
  opacity: 0.3;
}

#slider-switch-1:checked ~ .slider-switch-wrapper label[for="slider-switch-1"]{
  opacity: 1;
}

#slider-switch-2:checked ~ .slider-switch-wrapper label[for="slider-switch-2"]{
  opacity: 1;
}

#slider-switch-3:checked ~ .slider-switch-wrapper label[for="slider-switch-3"]{
  opacity: 1;
}

strong {
  font-size: 47px;
}

p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
}

.slide-number1,
.slide-number2,
.slide-number3 {
  font-size: 179px;
  line-height: 179px;
  color: red; /*#ffffff*/
}

/*Кнопка Подробнее*/
.detailed {
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 220px;
  padding: 10px 0;
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.detailed::before {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 18.286%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  vertical-align: middle;
  background-color: #f0c52e;;
  transition: height 0.3s;
}

.detailed::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: .3s linear;
}


/*.detailed:hover {
color: #000000;
width: 220px;
height: 40px;
background-color: #f0c52e;
}

.detailed:active {
opacity: 0.3;
color: #000000;
width: 220px;
height: 40px;
background-color: #f0c52e;
} */

.selfie-stick {
  width: 479px;
  height: 46px;
}

.top-description {
  font-family: "Gilroy-Light", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
}

.bottom-description {
  width: 78px;
  height: 11px;
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: left;
  color: #464646;
}

.bracelet {
  width: 439px;
  height: 46px;
}

.quadcopter {
  width: 449px;
  height: 46px;
}

.deviceys-list li {
  list-style: none;
}

.deviceys-list a {
  color: #000000;
}
/*популярные товары*/
.popular-1 {
  background-clip: padding-box;
  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-2 {
  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-3 {
  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-4 {
  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-5 {
  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-6 {
  background-color: #f0c52e;
  opacity: 0.5;
}

.deviceys-list li:hover,
.deviceys-list li:focus {
  background-color: #f0c52e;
  opacity: 1.0;
}

.deviceys-list a:active {
  opacity: 0.3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.services-slide-btn {
  display: none;
}

.container-slide {
  width: 1440px;
  padding: 0 20px;
  margin: 0px auto;
  background-color: #e5e5e5;
}

.services-slide-controls {
  position: relative;
  width: 284px;
  padding-top: 80px;
  padding-bottom: 46px;
  border-right: 7px solid #000000;
  opacity: 1;
}

.btn {
  margin-bottom: 24px;
  padding: 11px 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  max-width: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.2em;/*переписать в px*/
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  background: 0;
  border: none;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: .3s linear;
}

.btn:hover::after,
.btn:focus::after {
  height: 100%;
}

.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1),
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2),
.services-slide-btn:nth-of-type(3):checked ~ .services-slide-controls .btn:nth-child(3){
  width: 100%;
  padding-right: 132px;
  color: #f7e184;
  opacity: 1;
}

.services-slide-btn:nth-of-type(1):checked ~ .services-slide-controls .btn:nth-child(1):after,
.services-slide-btn:nth-of-type(2):checked ~ .services-slide-controls .btn:nth-child(2):after,
.services-slide-btn:nth-of-type(3):checked ~ .services-slide-controls .btn:nth-child(3):after {
  background-color: #000000;
  opacity: 1;
  height: 100%;
}

.obligation-description p {
  width: 426px;
  height: auto;
}

.chapter-guarantee p {
  width: 436px;
  height: auto;
}

.obligation-description p {
  width: 425px;
  height: auto;
}

/*Бренды*/
/*.brend-list li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.logo-1 {
  width: 150px;
  height: 100px;
}
.logo-1-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100px;
  transition: 0.8s;
}
a:hover .logo-1-hover {
    opacity: 0;
}*/

/*Блок О нас*/
.profile h2,
.contact h2 {
  font-size: 47px;
  line-height: 48px;
  text-align: left;
}

.block-profile {
  width: 462px;
  height: 315px;
  text-align: left;
}

.block-profile p {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.contact p {
  width: 511px;
  height: 46px;
}

.map-big {
  display: none;
}

/*каталог pagination*/
.pagination-list {
  list-style: none;
}

.pagination-list {
  width: 759px;
  height: 70px;
  background-color: #ebebeb;
}

.pagination-list a {
  color: #000000;
}

.pagination-backward:hover,
.pagination-backward:focus,
.pagination-forward:hover,
.pagination-forward:focus {
  width: 136px;
  height: 70px;
  background-color: #d9d9d9;
}

.pagination-backward a:active,
.pagination-forward a:active {
  opacity: 0.3;
}

/*.logo-html {
width: 27px;
height: 35px;
object-fit: contain;
background-color: #ffc600;
}*/

/*не забыть про карту в попапе*/
.map-big {
  display: none;
}

.type-name {
  font: inherit;
  background-color: transparent;
  border: transparent;
}

.name label {
  font-size: 18px;
  text-align: left;
  line-height: 24px;
}

.name input {
  opacity: 0.4;
  font-family: OpenSans;
  font-size: 14px;

  width: 360px;
  height: 50px;
  background-color: #f2f2f2;
}

.name input:hover {
  background-color: #eaeaea;
}

.name input:focus,
.name input:active {
  width: 360px;
  height: 50px;
  opacity: 0.5;
  background-color: #ffffff;
  border: 2px solid #f0c52e;
}

.name input:focus,
.name input:active {
  color: #464646;
  opacity: 1;
}
/*розовый фон при невалидном вводе данных*/
/*.name input:required:invalid {
background-color: #f6dada;
}

.name input:required:invalid {
color: #464646;
opacity: 0.4;
}*/

.main-footer {
  width: 1440px;
  height: 740px;
  background-color: #464646;
}

.logotype-footer svg {
fill: #f0c52e;
}

.logotype-footer svg:hover,
.logotype-footer svg:focus {
  fill: #f0c52e;
  opacity: 0.6;
}

.logotype-footer svg:active {
  fill: #f0c52e;
  opacity: 0.3;
}

.user-navigation-footer,
.footer-navigation,
.social-buttons {
  list-style: none;
}

.user-navigation-footer a {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #f0c52e;
  opacity: 0.7;
}

.user-navigation-footer a:hover,
.user-navigation-footer a:focus {
  opacity: 1;
}

.user-navigation-footer a:active {
  opacity: 0.3;
}

.address {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #f0c52e;
  opacity: 1;
}

.footer-navigation a {
  color: #f0c52e;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

.tel a {
  font-family: "OpenSans-Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #f0c52e;
  opacity: 1;
}

.social-buttons a {
  width: 80px;
  height: 80px;
  background: #e1e1e1;
  border-radius:50%;
  position: relative;
}

.social-buttons a::after {
  content:" ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url("img/")/*img - нужно прописать путь к иконке; */
  width: 30px;
  height: 30px;
  background: #000000;
}

.social-buttons a:hover {
  background: #e74246;
}

.social-buttons a:active::after {
  opacity: 0.3;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.logo-html svg{
fill: #FFC600;
}

.logo-html svg:hover,
.logo-html svg:focus {
  opacity: 0.6;
}

.logo-html svg:active {
  opacity: 0.3;
}
